<div class="container mt-4 col-md-4">
    <div class="card p-4 border-danger bg-light">
        <h3 class="text-center" style="color:brown">User Login</h3>
        <form #loginForm='ngForm' (ngSubmit)="userLogin()">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="textbox" [(ngModel)]="user.username" class="form-control" id="UserName" name="username" placeholder="username" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" [(ngModel)]="user.password" class="form-control" id="Password" name="password" placeholder="password" required>
            </div>
            <!-- <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" *ngIf="error"> -->
            <div class="text-md-center pb-md-2 text-danger" id="ErrorMsg">
                <!-- <b>{{error}}</b> -->
            </div>
            <div class="text-center">
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-outline-success " id="Login">Login</button>
            </div>
        </form>
    </div>
</div>