<div class="container mt-4 col-md-7">
    <div class="text-center">
        <label>
            <h3>Plans</h3>
        </label>
    </div>
    <div class="card p-4 border-danger ">
        <table class="table">
            <thead class="thead-light bg-light">
                <tr>
                    <th scope="col">
                        <tr>
                            <label id="SNO">
                            SNO
                            </label>
                        </tr>
                        <th scope="col">
                            <label id="PlanName"> 
                            Plan Name
                            </label>
                        </th>
                        <th scope="col">
                            <label id="Amount">
                            Amount 
                            </label>
                        </th>
                        <th scope="col">
                            <label id="Tenure">
                            Tenure
                            </label>
                        </th>
                        <th scope="col">
                            <label id="PlanType">
                            Plan Type
                            </label>
                        </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of temp">
                    <td>
                        <label id="Sno{{item.id}}">
                            {{item.id}}
                        </label>
                    </td>
                    <td>
                        <label id="Plan{{item.id}}">
                        {{item.planname}}
                        </label>
                    </td>
                    <td>
                        <label id="Amount{{item.id}}">
                            {{item.amount}}
                        </label>
                    </td>
                    <td>
                        <label id="Tenure{{item.id}}">
                            {{item.tenure}}
                        </label>
                    </td>
                    <td>
                        <label id="PlanType{{item.id}}">
                            {{item.type}}
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>