<app-navbar>
</app-navbar>

<div class="container mt-5">
    <div class="row">
        <div class="col-1">
            <app-leftnavbar></app-leftnavbar>
        </div>
        <div class="col-11" style="border-style: inset;">
            <label name="heading" class="text-primary mb-4">
                <h5 class="m-lg-3">Welcome to Savings Advisor</h5>
            </label>

            <router-outlet></router-outlet>
        </div>
        <!-- <div class="col-8">
            <label name="heading" class="text-primary mb-4">
                <h5 class="m-lg-3">Welcome to Savings Advisor</h5>
            </label>

            <label class="text-xl-center">
        Savings advisor suggests various Savings plans to New and Existing customers. For Existing Customers Savings plans will be displayed based on their available balance in past months. In case of New customers, the savings advisor gives suggestion based on factors like Age and Income. 
        <h4 class="text-success text-center text-primary mt-4">Make your money work for you!!!</h4>
    </label>

        </div> -->

    </div>
</div>